<div class="bg-white rounded-xl shadow-md p-6">
  <div class="flex items-center gap-4">
    <img
      [src]="user.avatar_url"
      alt="avatar"
      class="w-20 h-20 rounded-full border"
    />

    <div>
      <h2 class="text-xl font-bold">{{ user.name }}</h2>
      <p class="text-gray-600">{{ "@" + user.login }}</p>

      <div class="flex gap-2 mt-2 text-sm text-gray-700">
        <span *ngIf="user.company">🏢 {{ user.company }}</span>
        <span *ngIf="user.location">📍 {{ user.location }}</span>
      </div>
    </div>
  </div>

  <div class="mt-4 grid grid-cols-3 gap-4 text-center text-sm">
    <div>
      <p class="font-bold">{{ user.public_repos }}</p>
      <p class="text-gray-500">Repositórios</p>
    </div>
    <div>
      <p class="font-bold">{{ user.followers }}</p>
      <p class="text-gray-500">Seguidores</p>
    </div>
    <div>
      <p class="font-bold">{{ user.following }}</p>
      <p class="text-gray-500">Seguindo</p>
    </div>
  </div>

  <div class="mt-4 flex gap-4 text-sm">
    <a
      [href]="user.html_url"
      target="_blank"
      class="text-blue-600 hover:underline"
      >GitHub</a
    >

    <a
      *ngIf="user.blog"
      [href]="user.blog"
      target="_blank"
      class="text-blue-600 hover:underline"
      >Blog</a
    >

    <button (click)="showBio = !showBio" class="text-blue-600 hover:underline">
      Ver bio
    </button>
  </div>

  <div
    *ngIf="showBio"
    class="mt-4 p-3 border rounded bg-gray-50 text-sm text-gray-800"
  >
    {{ user.bio || "Sem bio cadastrada" }}
  </div>
</div>
